.flex-container {
    display: flex;
    /* flex-direction: row; */
    background-color: aqua;
    /* flex-wrap: nowrap; */
    flex-wrap: wrap;
}

.flex-container>div {
    background-color: #f1f1f1;
    width: 100px;
    margin: 10px;
    text-align: center;
    line-height: 95px;
    font-size: 30px;
}